# Created by venv; see https://docs.python.org/3/library/venv.html
# Python virtualenv
venv/
env/
*.pyc
__pycache__/

# VS Code settings
.vscode/

# Local databases and instance files
instance/
*.db

# OS files
.DS_Store
Thumbs.db
